* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Inter", sans-serif;
}
.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  width: 100vw;
}
.home-content {
  scroll-snap-align: start;
  height: 200vh;
  padding-top: 70px;
}
.home-content h1 {
  margin: 0px;
}

.fixed-nav {
  transition: 0.4s;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #000000aa;
}
